h1 {
  color: red;
  text-shadow: 1px 2px 1px black;
  text-align: center;
  padding: 10px;
  background: linear-gradient(to right, rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-color: yellow;
  
  box-shadow: 3px 3px 6px black;  
}

p {
  color: blue;
}

span {
  border: 1px solid black;
  background-color: lime;
}

li {
  text-decoration: underline;
  color: red;
}

/* Class selectors */
.first {
  font-weight: bold;
}

.done {
  text-decoration: line-through;
}

.base-box {
  text-decoration: none;
  padding: 3px 3px 3px 7px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.50));
}

.important {
  font-weight: bold;
}


.warning {
  background-color: #ff9999;
  border-left: 6px solid #ff3333;
}

#polite {
  font-family: cursive;
}

#rude {
  font-family: monospace;
  text-transform: uppercase;
}

#first {
  background-color: #D4AF37;
}

#second {
  background-color: #a8a8a8;
}

#third {
  background-color: #965A38;
}

[data-vegetable] {
  color: green;
}

[data-vegetable=liquid] {
  color: blue;
  background-color: goldenrod;
}

[data-vegetable~=spicy] {
  color: orange;
}

[data-quantity^=optional] {
  opacity: 0.5;
}

li[data-perf] {
  padding: 3px 3px 3px 34px;
  margin-bottom: 12px;
  list-style-position: inside;
}

ol {
  padding: 0;
}

li[lang^=en] {
   background: url("http://mdn.github.io/learning-area/css/introduction-to-css/css-selectors/en-GB.png") 5px center no-repeat;
 }

li[lang^=de] {
   background: url("http://mdn.github.io/learning-area/css/introduction-to-css/css-selectors/de.png") 5px center no-repeat;
 }

li[lang^=es] {
   background: url("http://mdn.github.io/learning-area/css/introduction-to-css/css-selectors/es.png") 5px center no-repeat;
 }

a {
  color: blue;
  font-weight: bold;
}

a:hover {
  color: black;
}

div.pseudo li {
  color: #222222;
}

div.pseudo li:nth-of-type(odd) a {
  color: #111111;
  font-weight: bold;
}

div.pseudo li:nth-of-type(even) a {
  color: #999999;
}


div.combi ul {
  padding: 0;
  list-style-type: none;
}

div.combi ul a {
  text-decoration: none;
  display: block;
  color: black;
  background-color: red;
  padding: 5px;
  margin-bottom: 10px;
}

div.combi ul a:hover {
  color: red;
  background-color: black;
}

div.combi h1 + p {
  font-weight: bold;
  color: blue;
}

div.values p {
  margin: 15px 5px;
  padding: 10px;
  border: 2px solid black;
}

div.values p:nth-child(1) {
  width: 150px;
  font-size: 18px;
}

div.values p:nth-child(2), p:nth-child(3) {
  width: 250px;
  font-size: 24px;
}

div.anim p {
  color: red;
  width: 100px;
  font-size: 40px;
  transform-origin: center;
}

div.anim p:hover {
  animation-name: rotate;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

div.percent div.boxes {
  margin: 10px;
  font-size: 200%;
  color: white;
  height: 150px;
  border: 2px solid black;
}

div.percent div.boxes:nth-child(1) {
  background-color: red;
  width: 75%;
}

div.percent div.boxes:nth-child(2) {
  background-color: blue;
  width: 650px;
}
